<section data-ng-controller="CredentialsController" data-ng-init="find()">

	<div class="page-header">
		<h1>Credentials</h1>
	</div>

	<div class="panel panel-info" data-ng-hide="!credentials.length">
		<div class="panel-heading">List of Registered Credentials</div>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Name</th>
				<th>Access Key ID</th>
				<th>Secret Access Key</th>
                <th></th>
			</tr>
			</thead>
			<tbody data-ng-repeat="credential in credentials">
            <tr>
                <td><a data-ng-href="#!/credentials/{{credential._id}}/edit" >{{credential.name}}</a></td>
                <td data-ng-bind="credential.accesskey"></td>
                <td data-ng-bind="credential.secretkey"></td>
                <td>
                    <a class="btn btn-primary btn-xs" data-ng-click="remove(credential);">
                        <i class="glyphicon glyphicon-remove">
                        </i>
                    </a>
                </td>
            </tr>
			</tbody>
		</table>
	</div>
	<div class="alert alert-warning text-center" data-ng-hide="!credentials.$resolved || credentials.length">
		No credentials yet, why don't you <a href="/#!/credentials/create">create one</a>?
	</div>
</section>
